# Treat source files as real code (not generated)
src/* linguist-generated=false

# Detect JavaScript + JSX
*.js linguist-detectable=true
*.jsx linguist-detectable=true

# Detect HTML & CSS
*.html linguist-detectable=true
*.css linguist-detectable=true

# Ignore build artifacts and dependencies.
dist/* linguist-generated
build/* linguist-generated
node_modules/* linguist-vendored