
# Force GitHub to detect JSX/JS
*.jsx linguist-detectable=true
*.js linguist-detectable=true
# Detect HTML & CSS
*.html linguist-detectable=true
*.css linguist-detectable=true


# Make sure all source files count
src/** linguist-generated=false

# Detect HTML and CSS
*.html linguist-detectable=true
*.css linguist-detectable=true

# Ignore built/generated/third-party code
dist/** linguist-generated=true
node_modules/** linguist-vendored=true

# As a backup: nothing in src is generated
src/* linguist-generated=false